<nav class="navbar navbar-expand-custom navbar-mainbg">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
          <li class="nav-item active">
              <a class="nav-link" href="dashboard"><i class="fas fa-tachometer-alt"></i>Home</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="teachers"><i class="far fa-address-book"></i>Teachers</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="students"><i class="far fa-clone"></i>Students</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="lessons"><i class="far fa-calendar-alt"></i>Lessons</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="exams"><i class="far fa-chart-bar"></i>Exams</a>
          </li>
          
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>